.reactions {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 90px;
    justify-content: center;
    align-items: center;
}

.imgEmoji {
    width: 150px;
}

.reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}

.titulo {
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
}


/* Media query para dispositivos com largura de tela até 768px (incluindo tablets) */
@media only screen and (max-width: 768px) {
    .imgEmoji {
        width: 20%;
    }
    .reactions {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding-top: 10px;
    }
    .titulo {
        display: flex;
        justify-content: center;
        font-size: 25px;
        text-align: center;
    }
    .main {
        max-width: 100%;
        align-items: stretch;
    }
    body {
        align-items: center;
    }

    span{
        font-size: 80%;
    }
}
