/* box style */

.box {
    display: grid;
    width: 30.5rem;
    height: 28.438rem;
    margin: 3%;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #737373;
    grid-template-rows: 30% 70%;
  }

.box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
}

.box-input {
    width: 100%;
}

/* box-content content style */

label {
    font-size: 1.5rem;
    display: block;
    text-align: left;
}


input {
    width: 100%;
    height: 2rem;
    color: #3F92C5;
}

button {
    order: 2;
    margin-left: auto;
    width: 134px;
    height: 40px;
    background-color: #37BD6D;
    border-radius: 10px;
    font-size: 20px;
    border-color: #37BD6D;
}

span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 13pt;
    color: #FD7979;
}

.box-input img {   
    display: flex;
    align-items: start;
    margin-top: 0.1rem;
}

.error-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.error-forgot a {
    font-size: 18px;
    padding-left: 45px;
    color: #3F92C5;
}

.action-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}
.action-button a {
    order: 1;
    margin-right: auto;
    color: #3F92C5;
}

#file-uploaded-name {
    display: flex;
    width: 60%;
    background-color: #DBDBDB;
}

.label-file-input {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 134px;
    height: 40px;
    background-color: #A4A4A4;
    font-size: 16px;
    border-color: #37BD6D;

}