
  
  .nav-menu {
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
  }
  
input{
  border: none;
  width: 97%;
  height: 27px;
  color: black;
  align-items: center;
}

  .main {
    display: flex;
    flex-direction: column;
  }
  
  .pesquisa {
    display: flex;
    margin-top: 35px;
    background-color: white;
    color: #8B8B8B;
    width: 92%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
  }

  .img{
    width: 100px;
  }
  
  .lupinha {
    padding-top: 7px;
    padding-left: 8px;
    width: 23.4px;
    height: 23px;
  }
  
  .content {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr; /* Three columns for the boxes */
    grid-gap: 120px; /* Adjust the gap between boxes */
    justify-content: center; /* Center the boxes horizontally */
    align-items: center; /* Center the boxes vertically */
  }
  .box1 {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 6%;
    display: flex;
    justify-content: center;
  }

  .box2 {
    background-color: white;
    width: 120px;
    height: 250px;
    border-radius: 6%;
    display: flex;
    justify-content: center;
   
  }

  .txt{
    color: #3F92C5;
    display: flex;
    align-self: flex-end;
  }

  .box1Content {
    color: #3F92C5;
    font-size: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space;
    align-self: center;
    text-decoration: none;
  }
  
  .data {
    color: #8B8B8B;
    font-size: 20px;
  }
  