.nav-menu {
  justify-content: flex-end;
  margin-right: 50px;
  display: flex; 
  align-items: center;
}

.nav-menu > div{
  display: flex; flex-direction: column; align-items: center; margin-right: 1rem
}
  
input{
  border: none;
  width: 97%;
  height: 27px;
  color: black;
  align-items: center;
}

  .main {
    display: flex;
    flex-direction: column;
  }
  
  .pesquisa {
    display: flex;
    margin-top: 35px;
    background-color: white;
    color: #8B8B8B;
    width: 92%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
  }

  .img{
    width: 100px;
  }
  
  .lupinha {
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    width: 23.4px;
    height: 23px;
  }
  
  .content {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr; 
    grid-gap: 120px;
    justify-content: center; 
    align-items: center; 
  }
  .box1 {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 6%;
    display: flex;
    justify-content: center;
    color: black;
  }


  .txt{
    color: #3F92C5;
    display: flex;
    align-self: flex-end;
  }

  .box1Content {
    color: #3F92C5;
    font-size: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-decoration: none;
  }
  
  .data {
    color: #8B8B8B;
    font-size: 20px;
  }
  
/* Media query para dispositivos com largura de tela até 768px (incluindo tablets) */
@media only screen and (max-width: 768px) {

  header {
    height: 8rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .logo {
    display: flex;
    width: 100%;

  }

  .nav-menu{
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-menu > div{
    margin-right: 0px;
  }


  button{

    width: 6rem;
  }

  .box1 {
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 6%;
    display: flex;
    justify-content: center;
    color: black;
  }

  .content {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Duas colunas centralizadas */
    grid-gap: 20px; /* Espaçamento entre as colunas */
    justify-content: center; 
    align-items: center; 
}


}
