/* page style */
* {
    color: #FFFFFF;
    font-family: Averia Libre;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #372775; 
}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* header style */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-header {
    display: flex;
    padding: 0rem 0.2rem 0rem 1rem;
    height: 2rem;
}

.title-header {
    font-weight: lighter;
    padding: 0.4rem 0rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin-right: 1rem;
}

.nav-menu a {
    color: #3F92C5;
}



/* main style */
