* {
    margin: 0;
    padding: 0;
   background-color: #372775; 
}

@font-face {
    font-family: Averia Libre;
    src: url(../assets/fonts/averia-libre.light.ttf)
}

h1 {
    font-size: 40pt;
    margin-top: 20px;
    font-weight: lighter;
}

.corEfonte{
    color: #FFFFFF;
    font-family: Averia Libre;
}

header{
    height: 80px;
    display: flex;
}  

#imagemheader{
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
}