* {
    margin: 0;
    padding: 0;
   background-color: #372775; 
}

@font-face {
    font-family: Averia Libre;
    src: url(../assets/fonts/averia-libre.light.ttf)
}

h1 {
    font-size: 40pt;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: Averia Libre;
    font-weight: lighter;
}

header{
    height: 80px;
    display: flex;
}  

#imagemheader{
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

#boxlogin{
    border: 1px solid #737373;
    border-radius: 15px;
    width: 488px;
    height: 455px;
    margin-left: 35%;
    margin-top: 5%; 
    padding-top: 40px;  
}

#titulobox{
    font-family: Averia Libre;
    color: #FFFFFF;
    font-size: 18pt;
    padding-left: 180px;          
}

.emailsenha{
    font-family: Averia Libre;
    color: #FFFFFF;
    font-size: 24px;                                     
}

#inputemail{
    padding-top: 60px;
    padding-left: 25px;             
}

.inputemailsenha{
    align-items: center;
    width: 424px;
    height: 39px;
    font-size: 20px;
    padding-left: 10px;
    font-family: Averia Libre;
    color: #3F92C5;
    background-color: #FFFFFF;               
}

#inputsenha{
    padding-top: 10px;
    padding-left: 25px;   
}

#esinvalidos{
    font-family: Averia Libre;
    font-size: 13pt;
    color: #FD7979;  
    padding-left: 30px;  
}

#esqueciasenha{
    font-family: Averia Libre;
    font-size: 18px;
    padding-left: 45px;
    color: #3F92C5;
}

#boxcriarentrar{
    padding-top: 100px;
    padding-left: 45px;    
   display: flex;     
}

#criarConta{
    font-family: Averia Libre;
    font-size: 20px;
    color: #3F92C5;
    padding-right: 180px;
}

#botaoEntrar{
    width: 134px;
    height: 40px;
    background-color: #37BD6D;
    border-radius: 10px;
    font-family: Averia Libre;
    color: #FFFFFF;
    font-size: 20px;
    border-color: #37BD6D;
}